.memo__delete 
    background-color transparent
    border 0
    border-radius 50%
    opacity .4
    position absolute
    right 0
    top 0
    user-select none

    &:focus
    &:hover
        background-color #ffd237
        opacity 1
