.memo
    background #efefef
    border-radius 5px
    box-shadow 0 2px 2px #9c9c9c
    color #000
    display block
    margin .25rem .125rem
    padding .25rem
    position relative
    vertical-align top


@require "**/*.styl"