extends ../../blocks/common/common


block title
    title Calendar

block content
    main

block bodyend
    script(data-main="assets/js/app/main.js", src="assets/js/libs/require/require.js")