.field__input
    border 1px solid rgba(0,0,0,0.38)
    box-shadow 4px 4px 0 #f1f2f3
    box-sizing border-box
    display block
    margin .125rem
    min-height 8rem
    min-width 17.5rem
    outline 0
    padding .125rem .25rem

    &:focus
        border-color rgba(117, 194, 236, .7)
        box-shadow 0 0 6px 2px rgba(117, 194, 236, .7), inset 0 0 0 1px rgba(117, 194, 236, .2)