include mixins/bemto/bemto


doctype html
head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=Edge, chrome=1")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, minimum-scale=1.0")
    block title
        title Default title
    link(rel="stylesheet", href="assets/styles/index.css")
body
    main
        block content

    block bodyend